<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>게시글 상세페이지</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/board.css" rel="stylesheet" />
    </head>
    <body>
        <!-- nav  -->
        {% include "nav.html" %}
        <!-- post -->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- Post content-->
                    <article>
                        <form action="{{ url_for('answer.create', question_id=question.id) }}" method="post" class="my-3">
                            <div class="mb-3">
                                <textarea name="content" id="content" class="form-control" rows="10"></textarea>
                            </div>
                            <input type="submit" value="답변등록" class="btn btn-primary">
                        </form>
                    </article>
                </div>
            </div>
        </div>
        <!-- Footer-->
        {% include "footer.html" %}
        <!-- Bootstrap core JS-->
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/board.js"></script>
    </body>
</html>
