{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Shield Letter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="index">전체기사</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">국내보안</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">국제보안</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">정책</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">보안경보</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="#!"><strong>{{user.username}}님</strong></a></li>
                <li class="nav-item"><a class="btn btn btn-light btn-sm my-1" href="{% url 'logout' %}">로그아웃</a></li>
                {% else %}   
                <li class="nav-item"><a class="btn btn btn-light btn-sm my-1" href="/login">로그인</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}